
<footer class="">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm  sm:text-center ">© 2023 toke</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li class="me-3">
        <%= link_to "GitHub", "https://github.com/fjordllc/bootcamp/projects/1?card_filter_query=assignee%3Asyo-tokeshi"  %>
      </li>
      <li class="me-3">
        <%= link_to "プライバシーポリシー", privacy_policy_path  %>
      </li>
      <li>
        <%= link_to "利用規約", terms_of_service_path  %>
      </li>
    </ul>
  </div>
</footer>
