<div>
  <h1 class="font-bold text-4xl text-green-600">Home#index</h1>
  <div class="flex justify-center mt-1">
    <%= link_to "GitHubアカウントでログイン",'/users/auth/github', class: "btn btn-info mt-2 " %><br>
  </div>
  <%= content_tag :div, "", id: "root", data: { message: @message }  %>
  <%= vite_javascript_tag 'home.tsx' %>
</div>
