/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 93px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header, .top-header, .top-login-footer,
.start-button, .selected-page_number, .not_remembered_badge,
.question-button, .question-badge{
    background-color: #ac4444;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

/*.methods-items{*/
/*    width: 800px;*/
/*}*/

.top-reason-title::before{
    content: "";
    display: inline-block;
    height: 5px;
    width: 140px;
    position: absolute;
    left: 50%;
    top: 50px;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #ac4444
}

.config-title::before{
    content: "";
    display: inline-block;
    height: 7px;
    width: 240px;
    background-color: darkred;
    position: absolute;
    left: 50%;
    top: 50px;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #ac4444
}

.methods-title::before{
    content: "";
    display: inline-block;
    height: 7px;
    width: 150px;
    background-color: darkred;
    position: absolute;
    left: 50%;
    top: 50px;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #ac4444
}

.official-url-title::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 18px;
    margin-right: 10px;
    background-color: #ac4444;
}

.appeal-title::before{
    content: '';
    font-size: 32px;
    display: flex;
    width: 64px;
    height: 64px;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -10px;
    justify-content: center;
    align-items: center;
    background:rgb(251, 189, 35,0.5);
    border-radius: 50%;
}
