/*
 *= require_tree .
 *= require_self
 */

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 93px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header, .top-header, .top-login-footer,
.main-red-color, .selected-page_number, .not_remembered_badge,
.question-button, .question-badge{
  background-color: #ac4444;
}

footer{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0; /*下に固定*/
}

@mixin emphasis-line{
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50px;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #ac4444
}

.top-reason-title{
  &::before {
    @include emphasis-line;
    height: 5px;
    width: 140px;
  }
}

.config-title{
  &::before {
    @include emphasis-line;
    height: 7px;
    width: 240px;
  }
}

.method-title{
  &::before {
    @include emphasis-line;
    height: 7px;
    width: 150px;
  }
}

.official-url-title::before{
  content: "";
  display: inline-block;
  width: 6px;
  height: 22px;
  margin-right: 10px;
  top: 5px;
  bottom: 0;
  background-color: #ac4444;
}

.appeal-title::before{
  content: '';
  font-size: 32px;
  display: flex;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: -10px;
  justify-content: center;
  align-items: center;
  background:rgb(251, 189, 35,0.5);
  border-radius: 50%;
}
