<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing ruby module</h1>

  <%= render "form", ruby_module: @ruby_module %>

  <%= link_to "Show this ruby module", @ruby_module, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to ruby modules", ruby_modules_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
