<% content_for(:html_title) { 'メソッド編集 - Rubyフラッシュカード ' } %>
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">メソッド編集</h1>

  <%= render "form", user_ruby_method: @user_ruby_method %>

  <%= link_to "メソッド一覧へ", user_ruby_methods_path, class: "ml-5 rounded-lg pt-1 bg-gray-100 btn-sm inline-block font-medium" %>
  <div class="ml-2　">
    <%= button_to '削除する', user_ruby_method_path(@user_ruby_method),method: :delete, onclick: "return confirm('削除してよろしいですか？')", class: "mt-7 py-3 px-5 font-medium underline" %>
  </div>
</div>
